// ! ---------------------sidebar, my-account--------------------------------------------------
.account-sidebar {
	min-width: toRem(250);
	// .account-sidebar__header
	&__header {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
	// .account-sidebar__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .account-sidebar__text
	&__text {
		font-family: $secondFontFamily;
		font-size: toRem(14);
		line-height: 1.2;
		letter-spacing: toRem(0.3);
	}
	// .account-sidebar__navigation
	&__navigation {}
	// .account-sidebar__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: toRem(8);
		width: 100%;
		@media (min-width:toEm($mobile)) and (max-width:toEm($tablet)){
			width: 50%;
		}
	}
	// .account-sidebar__item
	&__item {
		border-radius: 0 toRem(8) toRem(8) 0;
		transition: all 0.3s;
		// account-sidebar__item--active
		&--active{
			background-color: $lightColor;
			transition: all 0.3s;
			border-left: toRem(2) solid $grayColor;
		}
		@media (any-hover: hover){
			&:hover{
				background-color: $lightColor;
				a{
					color: $violetColor;
				}
			}
		}
	}
	// .account-sidebar__link
	&__link {
		padding: toRem(12) toRem(15) toRem(12) toRem(38);
		display: flex;
		column-gap: toRem(17);
		font-size: toRem(18);
		font-weight: 600;
		line-height: 1.22;
		transition: all 0.3s;
	}
}
.my-account {
	@include adaptiveValue("padding-bottom", 100, 45);
	// .my-account__container
	&__container {}
	// .my-account__breadcrumb
	&__breadcrumb {
		padding-top: toRem(23);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
	}
	// .my-account__body
	&__body {
		display: flex;
		flex-direction: column-reverse;
		row-gap: toRem(30);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 50);
		}
		@media (min-width:toEm($tablet)){
			flex-direction: row-reverse;
			column-gap: toRem(40);
		}
	}
	// .my-account__account-sidebar
	&__account-sidebar {
		@media (min-width:toEm($tablet)){
			flex: 0 0 23.8%; 
		}
	}
	// .my-account__content
	&__content {
		@media (min-width:toEm($tablet)){
			flex-grow: 1; 
		}
	}
}

// ! ---------------------my-info--------------------------------------------------
.my-info {
	// .my-info__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
	}
	// .my-info__block
	&__block {
		@extend .my-info__title;
	}
	// .my-info__subtitle
	&__subtitle {}
	// .my-info__contact-details
	&__contact-details {}
	// .my-info__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(30);
		&:not(:last-child) {
			margin-bottom: toRem(25);
			@media (max-width:toEm($mobile)){
				margin-bottom: toRem(15);
			}
		}
	}
	// .my-info__btn-add-address
	&__btn-add-address {
		font-size: toRem(18);
		font-weight: 600;
		line-height: 1.22;
		color: $grayColor;
		transition: color 0.3s;
		@media (any-hover: hover){
			&:hover{
				color: $violetColor;
			}
		}
	}
	// .my-info__address-list
	&__address-list {
		display: grid;
		gap: toRem(25);
		grid-template-columns: repeat(auto-fill, minmax(toRem(290), 1fr));
	}
	// .my-info__item-address
	&__item-address {}
}
.contact-details {
	// .contact-details__item
	&__item {
		padding-bottom: toRem(20);
		border-bottom: toRem(1) solid $grayHoverColor;
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		display: grid;
		row-gap: toRem(8);
		column-gap: toRem(20);
		grid-template-columns: 1fr auto;
	}
	// .contact-details__detail
	&__detail {
		font-size: toRem(18);
		font-weight: 600;
		line-height: 1.22;
		// .contact-details__detail--data
		&--data{
			color: $grayColor;
			grid-column: 1/2;
		}
		// .contact-details__detail--pass
		&--pass {
			font-family: 'Courier New', Courier, monospace;
			text-security: disc;
			-webkit-text-security: disc;
			user-select: none;
		}
	}
	// .contact-details__button
	&__button {
		@extend .my-info__btn-add-address;
		grid-row: 1/3;
		grid-column: 2/3;
		align-self: end;
	}
	// .contact-details__info
	&__info {
		// .contact-details__info--pass
		
	}
}
.address-card {
	background-color: $lightColor;
	@include adaptiveValue("padding-top", 25, 15);
	@include adaptiveValue("padding-bottom", 25, 15);
	@include adaptiveValue("padding-left", 43, 20);
	@include adaptiveValue("padding-right", 43, 20);
	border-radius: toRem(12);
	display: flex;
	flex-direction: column;
	row-gap: toRem(20);
	min-height: 100%;
	// .address-card__name
	&__name {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.2;
		color: $grayColor;
	}
	// .address-card__data
	&__data {
		font-weight: 500;
		line-height: 1.18;
	}
	// .address-card__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(12);
		flex-grow: 1;
		align-items: flex-start;
	}
	// .address-card__tag
	&__tag {
		padding: toRem(8) toRem(19) toRem(5);
		border-radius: toRem(8);
		border: toRem(1) solid $mainColor;
		font-weight: 500;
		line-height: 1.18;
	}
	// .address-card__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(10);
		row-gap: toRem(8);
	}
	// .address-card__button
	&__button {
		font-weight: 600;
		line-height: 1.18;
		color: $grayColor;
		transition: all 0.3s;
		&:not(:last-child) {
			border-right: toRem(1) solid $grayHoverColor;
			padding-right: toRem(10);
		}
		@media (any-hover: hover){
			&:hover{
				color: $violetColor;
			}
		}
	}
}

// ! ---------------------add-address--------------------------------------------------
.add-address {
	// .add-address__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .add-address__subtitle
	&__subtitle {
		&:not(:last-child) {
			margin-bottom: toRem(50);
			@media (max-width:toEm($mobileSmall)){
				margin-bottom: toRem(40);
			}
		}
	}
	// .add-address__form
	&__form {
		&>*{
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}
	// .add-address__inputs
	&__inputs {}
	// .add-address__agreements
	&__agreements{
		&:not(:last-child) {
			margin-bottom: toRem(50);
			@media (max-width:toEm($mobileSmall)){
				margin-bottom: toRem(40);
			}
		}
	}
	// .add-address__buttons
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(30);
		row-gap: toRem(10);
		@media (max-width:toEm($mobileSmall)){
			column-gap: 6%;
		}
	}
	// .add-address__btn
	&__btn {
		padding: toRem(12) toRem(40) toRem(11);
		@media (max-width:toEm($mobileSmall)){
			flex: 1 1 46%;
		}
	}
}
// ! ---------------------wishlist--------------------------------------------------
.wishlist {
	// .wishlist__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .wishlist__items
	&__items {}
	// .wishlist__item
	&__item {}
}
.wishlist-empty {
	// .wishlist-empty__border
	&__border {
		border-radius: 4px;
		box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05),-2px -2px 4px 0px rgba(0, 0, 0, 0.05);
		@include adaptiveValue("padding-top", 78, 20);
		@include adaptiveValue("padding-bottom", 78, 20);
		@include adaptiveValue("padding-left", 117, 15);
		@include adaptiveValue("padding-right", 117, 15);
		text-align: center;
		max-width: toRem(693);
		margin: 0 auto;
	}
	// .wishlist-empty__heart
	&__heart {
		@include adaptiveValue("width", 170, 80);
		aspect-ratio: 1/1;
		background-color: #F0F9F4;
		color: #28A642;
		@include adaptiveValue("font-size", 83, 50);
		display: grid;
		place-items: center;
		border-radius: 50%;
		margin: 0 auto;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 20);
		}
	}
	// .wishlist-empty__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .wishlist-empty__text
	&__text {
		letter-spacing: toRem(0.3);
		font-weight: 500;
		line-height: 1.2;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
	}
	// .wishlist-empty__link
	&__link {
		@media (min-width:toEm($mobileSmall)){
			min-width: toRem(246);
		}
	}
}
.wishlist-product {
	border-bottom: toRem(1) solid	$grayHoverColor;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include adaptiveValue("column-gap", 50, 25, 0, $containerWidth, $tablet);
	@include adaptiveValue("padding-top", 30, 15);
	@include adaptiveValue("padding-bottom", 30, 15);
	@media (max-width:toEm($mobile)){
		flex-wrap: wrap;
		row-gap: toRem(15);
	}
	// .wishlist-product__remove-button
	&__remove-button {
		flex: 0 0 toRem(25);
		@media (max-width:toEm($mobile)){
			order: 4;
		}
	}
	// .wishlist-product__main-block
	&__main-block {
		flex-grow: 1;
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 35, 15);
		@media (max-width:toEm($mobile)){
			order: 1;
			flex-basis: 100%;
		}
	}
	// .wishlist-product__link-img
	&__link-img {
		flex-shrink: 0;
		aspect-ratio: 1 / 1;
		border-radius: toRem(4);
		overflow: hidden;
		@include adaptiveValue("flex-basis", 110, 70);
	}
	// .wishlist-product__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .wishlist-product__info
	&__info {
		flex-grow: 1;
		display: grid;
		row-gap: toRem(12);
		align-self: flex-start;
		color: $grayColor;
		font-size: toRem(22);
		line-height: 1.18;
		font-weight: 700;
		@media (max-width:toEm($mobileSmall)){
			font-size: toRem(18);
			row-gap: toRem(4);
		}
	}
	// .wishlist-product__link-title
	&__link-title {
		@media (any-hover: hover){
			&:hover{
				.wishlist-product__title{
					text-decoration-color: $grayColor;
				}
			}
		}
	}
	// .wishlist-product__title
	&__title {
		letter-spacing: toRem(0.5);
		@include underline(transparent, toRem(2));
		transition: all 0.2s;
	}
	// .wishlist-product__feature
	&__feature {
		letter-spacing: toRem(0.5);
		span{
			font-weight: 500;
			color: $mainColor;
		}
	}
	// .wishlist-product__price
	&__price {
		font-size: toRem(22);
		line-height: 1.18;
		font-weight: 700;
		letter-spacing: toRem(0.5);
		padding-top: toRem(3);
		@media (max-width:toEm($mobile)){
			order: 3;
			font-size: toRem(18);
		}
	}
	// .wishlist-product__add-cart-button
	&__add-cart-button {
		flex: 0 0 toRem(143);
		font-weight: 500;
		@media (max-width:toEm($mobile)){
			order: 2;
		}
		@media (max-width:toEm($mobileSmall)){
			padding: toRem(7) toRem(20) toRem(5);
			flex-basis: auto;
		}
	}
}

// ! ---------------------Orders--------------------------------------------------

.orders {
	// .orders__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 38, 20);
		}
	}
	// .orders__list
	&__list {}
	// .orders__header
	&__header {
		display: flex;
		align-items: center;
		column-gap: toRem(10);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}
	// .orders__link-go-back
	&__link-go-back {
		color: $grayColor;
		font-size: toRem(12);
		padding: toRem(10) toRem(5);
		transition: all 0.2s;
		@media (any-hover: hover){
			&:hover{
				color: $violetColor;
			}
		}
	}
	// .orders__title
	&__title {}
	// .orders__detail
	&__detail {}
}
.list-orders {
	// .list-orders__navigation
	&__navigation {
		display: flex;
		row-gap: toRem(8);
		flex-direction: column;
		align-items: stretch;
		row-gap: toRem(5);
		border-left: toRem(3) solid $lightColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
		@media (min-width:toEm($mobileSmall)){
			flex-direction: row;
			flex-wrap: wrap;
			column-gap: toRem(30);
			border-left: none;
			justify-content: space-around;
		}
		@media (min-width:toEm($mobile)){
			border-bottom: toRem(3) solid	$lightColor;
			justify-content: space-between;
		}
	}

	// .list-orders__button
	&__button {
		font-family: $secondFontFamily;
		@include adaptiveValue("font-size", 22, 18);
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: toRem(0.5);
		color: $grayColor;		
		padding-top: toRem(8);
		padding-bottom: toRem(8);
		@include adaptiveValue("padding-left", 53, 15, 0, $containerWidth, $mobileSmall);
		@include adaptiveValue("padding-right", 53, 15, 0, $containerWidth, $mobileSmall);
		border-radius: 0 toRem(8) toRem(8) 0;
		transition: all 0.3s;
		position: relative;		
		text-align: left;
		&::after{
			content: '';
			position: absolute;
			right: 100%;
			top: 0;
			height: 100%;
			width: toRem(3);
			background-color: transparent;
			transition: all 0.3s;
		}
		&._tab-active{
			background-color: $lightColor;
			&::after{
				background-color: $grayColor;
			}
		}
		@media (any-hover: hover){
			&:hover{
				background-color: $lightColor;
			}
		}
		@media (min-width:toEm($mobileSmall)){
			border-radius: toRem(8) toRem(8) 0 0;
			text-align: center;
			&::after{
				left: 0;
				right: auto;
				top: 100%;
				height: toRem(3);
				width: 100%;
			}
			}
		@media (min-width:toEm($mobile)){
			padding-top: toRem(12);
			padding-bottom: toRem(12);
		}
	}
	// .list-orders__body
	&__body {}

	// // .list-orders__block
	// &__block {}

	// .list-orders__element
	&__element{
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
}
.order-item {
	padding-bottom: toRem(15);
	border-bottom: toRem(1) solid	$grayHoverColor;
	@media (min-width:toEm($mobile)){
		padding-bottom: toRem(30);
	}
	// .order-item__head
	&__head {
		padding: toRem(28) toRem(47);
		background-color: $lightColor;
		border-radius: toRem(8);
		@include adaptiveValue("padding-top", 28, 20);
		@include adaptiveValue("padding-bottom", 28, 20);
		@include adaptiveValue("padding-left", 47, 15);
		@include adaptiveValue("padding-right", 47, 15);
		&:not(:last-child) {
			margin-bottom: toRem(15);
			@media (min-width:toEm($mobile)){
				margin-bottom: toRem(30);
			}
		}
	}
	// .order-item__title
	&__title {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.2;
		color: $grayColor;
		&:not(:last-child) {
			margin-bottom: toRem(14);
		}
	}
	// .order-item__info
	&__info {		
		display: flex;
		flex-direction: column;
		row-gap: toRem(7);
		@media (min-width:toEm($mobile)){
			flex-direction: row;
			justify-content: space-between;
			column-gap: toRem(50);
		}
	}
	// .order-item__column
	&__column {
		@media (min-width:toEm($mobile)){
			&:last-child{
				text-align: right;
			}
		}
	}
	// .order-item__data
	&__data {
		font-size: toRem(14);
		font-weight: 600;
		line-height: 1.18;
		span{
			color: $paleGrayColor;
			font-weight: 400;
		}
		&:not(:last-child) {
			margin-bottom: toRem(7);
		}
	}
	// .order-item__details
	&__details {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(30);
		align-items: center;
		@media (max-width:toEm($mobileSmall)){
			flex-wrap: wrap;
			row-gap: toRem(15);
		}
	}
	// .order-item__product
	&__product {
		flex-grow: 1;
		@media (max-width:toEm($mobileSmall)){
			flex-basis: 100%;
		}
	}
	// .order-item__link
	&__link {
		flex: 0 0 toRem(144);
		@media (max-width:toEm(400)){
			flex-basis: 100%;
			
		}
	}
}
.product-from-order {
	display: flex;
	align-items: center;
	column-gap: toRem(25);
	@media (max-width:toEm($mobileSmall)){
		column-gap: toRem(15);
	}
	// .product-from-order__link-img
	&__link-img {
		flex: 0 0 toRem(96);
		aspect-ratio: 1 / 1;
		border-radius: toRem(4);
		overflow: hidden;
	}
	// .product-from-order__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .product-from-order__info
	&__info {
		flex-grow: 1;
	}
	// .product-from-order__link-title
	&__link-title {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (any-hover: hover){
			&:hover{
				.product-from-order__title{
					text-decoration-color: $grayColor;
				}
			}
		}
	}
	// .product-from-order__title
	&__title {
		color: $grayColor;
		font-weight: 600;
		line-height: 1.18;
		@include underline;
		transition: all 0.2s;

	}
	// .product-from-order__details
	&__details {}
	// .product-from-order__item-details
	&__item-details {
		color: $grayColor;
		font-weight: 600;
		line-height: 1.18;
		span{
			color: $paleGrayColor;
		}
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}
}


.order-details {
	// .order-details__head
	&__head {
		background-color: $lightColor;
		display: grid;
		row-gap: toRem(5);
		margin: toRem(0) toRem(-15);
		@include adaptiveValue("padding-top", 27, 15);
		@include adaptiveValue("padding-bottom", 27, 15);
		@include adaptiveValue("padding-left", 47, 15, 0, $containerWidth, $mobileSmall);
		@include adaptiveValue("padding-right", 47, 15, 0, $containerWidth, $mobileSmall);
		@media (min-width:toEm($mobileSmall)){
			border-radius: toRem(8);
			margin: 0;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
		@media (min-width:toEm($mobile)){
			row-gap: toRem(10);
			column-gap: toRem(50);
			justify-content: space-between;
			grid-template-columns: 1fr auto;
			align-items: center;
		}
	}
	// .order-details__order-number
	&__order-number {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.2;
		color: $grayColor;
	}
	// .order-details__delivery-date
	&__delivery-date {
		line-height: 1.18;
		font-weight: 500;
	}
	// .order-details__total-amount
	&__total-amount {
		font-size: toRem(18);
		font-weight: 600;
		line-height: 1.2;
		span{
			color: $grayColor;
		}
		@media (min-width:toEm($mobile)){
			grid-row: 1/3;
			grid-column: 2/3;
		}
	}
	// .order-details__status
	&__status {
		margin: 0 auto;
		max-width: toRem(750);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 50);
		}
	}
	// .order-details__status-bar
	&__status-bar {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	// .order-details__description-status
	&__description-status {}
	// .order-details__products
	&__products {}
}
.status-bar {
	display: flex;
	flex-direction: column;
	position: relative;
	row-gap: toRem(15);
	&::before{
		content: '';
		position: absolute;
		width: toRem(4);
		height: calc(100% - 22px);
		top: toRem(11);
		left: toRem(9);
		background-color: $paleGrayColor;
		@media (min-width:toEm($mobile)){
			width: 100%;
			height: toRem(4);
			left: 0;
			top: toRem(9);
		}
	}
	@media (min-width:toEm($mobile)){
		flex-direction: row;
		justify-content: space-between;
		column-gap: toRem(20);
		margin: toRem(0) toRem(60);
	}
	@media (max-width:toEm($mobile)){
		max-width: 80%;
		margin: 0 auto;
	}
	// .status-bar__item
	&__item {
		position: relative;
		z-index: 2;
		&:first-child,
		&:last-child{
			&.active{
				.status-bar__circle{
					border: none;
					width: toRem(20);
				}
			} 
		}
		display: grid;
		grid-template-columns: toRem(22) 1fr;
		column-gap: toRem(20);
		@media (min-width:toEm($mobile)){
			grid-template-columns: 1fr;
			grid-template-rows: toRem(22) auto;
			align-content: start;
			max-width: toRem(120);
			&:nth-child(2){
				transform: translateX(-25%);
			}	
			&:nth-last-child(2){
				transform: translateX(25%);
			}
			&:last-child{
				transform: translateX(50%);
			}
			&:first-child{
				transform: translateX(-50%);
			}
		}
		&:last-child{
			@media (max-width:toEm($mobile)){
				.status-bar__circle{
					align-self: end;
				}
			}
		}
	}
	// .status-bar__circle
	&__circle {
		width: toRem(16);
		aspect-ratio: 1/1;
		border-radius: 50%;
		background-color: $paleGrayColor;
		.status-bar__item.active &{
			width: toRem(22);
			border: toRem(4) solid $paleGrayColor;
			background-color: $grayColor;
		}
		justify-self: center;
		@media (min-width:toEm($mobile)){
			align-self: center;
		}
	}
	// .status-bar__value
	&__value {
		font-size: toRem(14);
		color: $paleGrayColor;
		font-weight: 600;
		line-height: 1.2;
		text-transform: capitalize;
		.active &{
			color: $grayColor;
		}
		@media (min-width:toEm($mobile)){
			text-align: center;
		}
	}
}

.status-description {
	padding-top: toRem(20);
	// .status-description__list
	&__list {
		border-radius: toRem(8);
		background-color: $lightColor;
		@include adaptiveValue("padding", 25, 10);

		position: relative;
		&::before{
			content: '';
			position: absolute;
			bottom: 100%;
			left: 20%;
			width: 0;
			height: 0;
			border-left: 18px solid transparent;
			border-right: 18px solid transparent;
			border-bottom: 20px solid $lightColor;
		}
	}
	// .status-description__item
	&__item {
		font-weight: 600;
		line-height: 1.18;
		display: flex;
		column-gap: toRem(30);
		@media (max-width:toEm($mobileSmall)){
			column-gap: toRem(15);
		}
		&:not(:last-child) {
			margin-bottom: toRem(7);
		}

		&:not(:last-child) {
			flex: 0 0 toRem(150);
		}
		@media (max-width:toEm($mobileSmall)){
			font-size: toRem(14);
		}
	}
	// .status-description__date
	&__date {}
	// .status-description__value
	&__value {
		flex-grow: 1;
		color: $grayColor;
	}
}
.products-order {
	background-color: $lightColor;
	margin: toRem(0) toRem(-15);
	@include adaptiveValue("padding-top", 27, 15);
	@include adaptiveValue("padding-bottom", 27, 15);
	@include adaptiveValue("padding-left", 47, 15, 0, $containerWidth, $mobileSmall);
	@include adaptiveValue("padding-right", 47, 15, 0, $containerWidth, $mobileSmall);
	@media (min-width:toEm($mobileSmall)){
		border-radius: toRem(8);
		margin: 0;
	}
	// .products-order__item
	&__item {
		display: grid;
		grid-template-columns: toRem(90) 1fr toRem(25);
		@include adaptiveValue("column-gap", 30, 15);
		&:not(:last-child) {
			padding-bottom: toRem(15);
			margin-bottom: toRem(20);
			border-bottom: toRem(1) solid $paleGrayColor;
			@media (min-width:toEm($mobile)){
				padding-bottom: toRem(30);
				margin-bottom: toRem(30);
			}
		}
	}
	// .products-order__link-img
	&__link-img {
		width: 100%;
		aspect-ratio: 1/1;
		border-radius: toRem(4);
		overflow: hidden;
	}
	// .products-order__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .products-order__info
	&__info {
		@include adaptiveValue("font-size", 22, 16);
		font-weight: 700;
		line-height: 1.18;
		letter-spacing: toRem(0.5);
		color: $grayColor;
		display: flex;
		flex-direction: column;
		row-gap: toRem(5);
		@media (min-width:toEm($mobile)){
			flex-direction: row;
			column-gap: toRem(30);
		}
	}
	// .products-order__column
	&__column{
		@media (min-width:toEm($mobile)){
			flex-grow: 1;
		}
	}
	//.products-order__link-title
	&__link-title{
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
		@media (any-hover: hover){
			&:hover{
				.products-order__title{
					text-decoration-color: $grayColor;
				}
			}
		}
	}
	// .products-order__title
	&__title {
		@include underline;
		transition: all 0.2s;
	}
	// .products-order__feature
	&__feature,
	&__price {
		@media (min-width:toEm($mobile)){
			flex-basis: 20%;
		}
	}
	&__feature {
		span{
			font-weight: 500;
			color: $mainColor;
		}
	}
	// .products-order__price
	&__price {
		color: $mainColor;
	}
	// .products-order__remove-button
	&__remove-button {
		@media (max-width:toEm($mobile)){
			grid-column: 3/4;
			grid-row: 1/2;
		}
	}
}


