.cart-page {
	// .cart-page__header
	&__header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 20);
		}
	}
	// .cart-page__form
	&__form {}
	// .cart-page__table
	&__table {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
	}
	// .cart-page__summary
	&__summary {}
}

.cart-header {
	padding-top: toRem(23);
	// .cart-header__container
	&__container {}
	// .cart-header__breadcrumb
	&__breadcrumb {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 10);
		}
	}
	// .cart-header__info
	&__info {
		font-size: toRem(14);
		line-height: 1.2;
		p{
			&:not(:last-child) {
				margin-bottom: toRem(5);
			}
		}
		a{
			color: $violetColor;
			font-weight: 500;
			@include underline;
			transition: text-decoration-color 0.2s;
			@media (any-hover: hover){
				&:hover{
					text-decoration-color: $violetColor;
				}
			}
		}
	}
}

.cart-table {
	// .cart-table__header
	&__header {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .cart-table__items
	&__items {}
	// .cart-table__container
	&__container {}
	// .cart-table__item
	&__item {}
}
.header-table-cart {
	background-color: $grayColor;
	color: $whiteColor;
	// .header-table-cart__container
	&__container {
		min-height: toRem(76);
		padding-top: toRem(10);
		padding-bottom: toRem(10);
		display: grid;
		grid-template-columns: toRem(350) 1fr 1fr 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		column-gap: toRem(20);
		@media (max-width:toEm($tablet)){
			grid-template-columns: repeat(6, 1fr);
		}
		@media (max-width:toEm($mobile)){
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			row-gap: toRem(8);
		}

	}
	// .header-table-cart__title-header
	&__title-header {
		&:first-child{
			justify-self: start;
		}
		text-transform: uppercase;
		font-size: toRem(18);
		line-height: 1.22;
		font-weight: 600;
	}
}
.item-cart {
	@include adaptiveValue("padding-top", 50, 20);
	@include adaptiveValue("padding-bottom", 50, 20);
	&:not(:last-child) {
		border-bottom: toRem(1) solid $paleGrayColor;
	}
	display: flex;
	align-items: flex-start;
	row-gap: toRem(10);
	flex-wrap: wrap;
	column-gap: 5%;
	align-items: center;
	justify-content: space-between;
	flex-basis: 100%;
	@media (max-width:toEm($mobileSmall)){
		>*{
			&:not(:first-child){
				flex: 1 0 30%;
				text-align: center;
			}
			&:last-child{
				text-align: right;
			}
		}
	}
	@media (min-width:toEm($mobileSmall)){
		justify-content: space-around;
	}
	@media (min-width:toEm($tablet)){
		display: grid;
		grid-template-columns: toRem(350) 1fr 1fr 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		column-gap: toRem(20);
	}
	// .item-cart__details
	&__details {
		text-align: left;
		display: flex;
		column-gap: toRem(20);
	}
	// .item-cart__link-img
	&__link-img {
		flex-shrink: 0;
		@include adaptiveValue("flex-basis", 105, 80, 0, $mobileSmall, $minWidth);
		aspect-ratio: 105/120;
		border-radius: toRem(12);
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .item-cart__info
	&__info {flex-grow: 1;}
	// .item-cart__link-title
	&__link-title {
		text-transform: capitalize;
		font-size: toRem(18);
		line-height: 1.22;
		font-weight: 700;
		color: $grayColor;
		@include underline;
		transition: text-decoration-color 0.2s;
		@media (any-hover: hover){
			&:hover{
				text-decoration-color: $violetColor;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(9);
		}
	}
	// .item-cart__title
	&__title {}
	// .item-cart__feature
	&__feature {
		font-size: toRem(14);
		line-height: 1.22;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
		// .item-cart__feature--color
		&--color {
			span{
				text-transform: capitalize;
			}
		}
		// .item-cart__feature--size
		&--size {
			span{
				text-transform: uppercase;
			}
		}
	}
	// .item-cart__price
	&__price {
		font-size: toRem(18);
		lighting-color: 1.22;
		color: $grayColor;
		font-weight: 700;
		// .item-cart__price--shipping
		&--shipping {
			color: $paleGrayColor;
			text-transform: uppercase;
		}
	}
	// .item-cart__quantity-control
	&__quantity-control {}
	// .item-cart__action
	&__action {}
	// .item-cart__remove
	&__remove {
		padding: toRem(10);
		font-size: toRem(18);
		color: $violetColor;
		transition: all 0.3s;
		@media (any-hover: hover){
			&:hover{
				color: $grayColor;
			}
		}
	}
}

.cart-summary {
	background-color: $lightColor;
	// .cart-summary__container
	&__container {
		@media (min-width:toEm($tablet)){
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: toRem(20);
		}
	}
	// .cart-summary__discount
	&__discount {}
	// .cart-summary__prices
	&__prices {
		@media (min-width:toEm($tablet)){
			flex: 0 1 toRem(465);
		}
	}
}
.cart-discount {
	padding: toRem(30) toRem(0);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include adaptiveValue("row-gap", 40, 20);
	@media (max-width: toEm(380)){
		align-items: stretch;
	}
	//.cart-discount__header
	&__header{}
	// .cart-discount__title
	&__title {
		font-size: toRem(24);
		font-weight: 600;
		line-height: 1.2;
		color: $grayColor;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .cart-discount__info
	&__info {
		line-height: 1.2;
	}
	// .cart-discount__field
	&__field {
		display: flex;
		border: toRem(1) solid $paleGrayColor;
		border-radius: toRem(12);
		overflow: hidden;
	}
	// .cart-discount__input
	&__input {
		flex: 0 1 toRem(214);
		max-width: toRem(214);
		height: auto;
		border-radius: toRem(11) 0 0 toRem(11);
		border: toRem(3) solid transparent;
		&:focus{
			outline: none;
			border: toRem(3) solid $violetColor;
		}
		@media (max-width: toEm(380)){
			flex-grow: 1;
			max-width: 100%;
		}
	}
	// .cart-discount__inp-button
	&__inp-button {
		border-radius: 0 toRem(11) toRem(11) 0;
		flex: 0 1 toRem(161);
		@media (max-width:toEm($mobileSmall)){
			padding: toRem(10) toRem(5);
			font-size: toRem(16);
		}
	}
	// .cart-discount__btn
	&__btn {
		min-width: toRem(232);
	}
}

.cart-prices {
	@include adaptiveValue("padding-top", 40, 25);
	@include adaptiveValue("padding-bottom", 50, 25);
	display: flex;
	flex-direction: column;
	align-items: center;
	@include adaptiveValue("row-gap", 50, 25);
	background-color: #F3F3F3;
	@media (max-width:toEm($tablet)){
		margin: toRem(0) toRem(-15);	
		border-top: toRem(1) solid $paleGrayColor;	
	}
	// .cart-prices__body
	&__body {
		align-self: stretch;
		padding-bottom: toRem(50);
		border-bottom: toRem(1) solid $paleGrayColor;
		@include adaptiveValue("padding-left", 90, 15);
		@include adaptiveValue("padding-right", 90, 15);
		
	}
	// .cart-prices__row
	&__row {
		min-width: toRem(283);
		display: grid;
		grid-template-columns: 1fr 0.5fr;
		column-gap: toRem(20);
		font-size: toRem(22);
		font-weight: 500;
		line-height: 1.18;
		color: $grayColor;
		max-width: toRem(470);
		margin: 0 auto;
		
		// .cart-prices__row--total
		&--total {
			font-weight: 700;
			padding-top: toRem(35);
		}
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .cart-prices__label
	&__label {}
	// .cart-prices__price
	&__price {}
	// .cart-prices__button-order
	&__button-order {
		min-width: toRem(232);

	}
}
