// ! ---------------------HERO--------------------------------------------------
.slider-hero {
	position: relative;
	@media (min-width:toEm($mobile)){
		min-height: 100svh;
		display: flex;
		@include adaptiveValue("margin-top", -108, -65, 0, $containerWidth, $mobile);
		@include adaptiveValue("padding-top", 108, 65, 0, $containerWidth, $mobile);
	}
	// .slider-hero__swiper
	&__swiper {
		@media (min-width:toEm($mobile)){
			flex-grow: 1;
		}
	}
	// .slider-hero__pagination
	&__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
		position: absolute;
		z-index: 5;
		left: 0;
		@include adaptiveValue("bottom", 50, 30);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		column-gap: toRem(1);
		row-gap: toRem(5);
		padding: toRem(0) toRem(15);
		.swiper-pagination-bullet{
			border-radius: 0;
			@include adaptiveValue("flex-basis", 63, 30);
			height: toRem(10);
			background-color: $whiteColor;
			opacity: 0.5;
			transition: opacity .2s;
			margin: 0;
			&:first-child{
				border-radius: toRem(8) 0 0 toRem(8);
			}
			&:last-child{
				border-radius: 0 toRem(8) toRem(8) 0;
			}
			&-active{
				opacity: 1;
			}
			@media (any-hover: hover){
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
	&__prev-button,
	&__next-button {
		display: none;
		transition: opacity 0.3s;
		@media (min-width: toEm($mobile)){
			display: block;
			color: $whiteColor;
			position: absolute;
			z-index: 5;
			top: 44.5%;
			cursor: pointer;
		}
		&::before{
			@include adaptiveValue("font-size", 46, 30, 0, $maxWidth, $mobile);
			
		}
		@media (any-hover: hover){
			&:hover{
				opacity: 0.6;
			}
		}
		
		
	}
	// .slider-hero__prev-button
	&__prev-button {
		@media (min-width: toEm($mobile)){
			@include adaptiveValue("left", 40, 10, 0, $maxWidth, $mobile);
		}
	}
	// .slider-hero__next-button
	&__next-button {
		@media (min-width: toEm($mobile)){
			@include adaptiveValue("right", 40, 10, 0, $maxWidth, $mobile);
		}
	}
}
.hero-slide {
	font-family: $secondFontFamily;
	color: $whiteColor;
	position: relative;
	&::before{
		@media (max-width:toEm(400)){
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: #807d7e;
			opacity: 0.6;
			z-index: 2;
		}

	}
	// .slider-hero__background-img
	&__background-img {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		&--top{
			object-position: top;
		}
		&--bottom{
			object-position: bottom;
		}
		&--left{
			object-position: left;
		}
		&--right{
			object-position: right;
		}
	}
	// .slider-hero__container
	&__container {
		position: relative;
		z-index: 3;
		min-height: 100%;
		display: flex;
		align-items: center;
	}
	// .slider-hero__body
	&__body {
		@include adaptiveValue("padding-top", 150, 100);
		@include adaptiveValue("padding-bottom", 100, 60);
		@include adaptiveValue("margin-left", 85, 40, 2, $maxWidth, $mobile);
		@include adaptiveValue("margin-right", 85, 40, 2, $maxWidth, $mobile);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		@include adaptiveValue("row-gap", 40, 10);
		max-width: toRem(500);
	}
	// .slider-hero__category
	&__category {
		@include adaptiveValue("font-size", 32, 22);
		line-height: 1.18;
		font-weight: 500; 
		letter-spacing: toRem(0.16);
		&:first-child{
			text-transform: capitalize;
		}
	}
	// .slider-hero__title
	&__title {
		@include adaptiveValue("font-size", 78, 46);
		line-height: 1.18;
		font-weight: 800;
		letter-spacing: toRem(0.31);
		text-transform: capitalize;
	}
	// .slider-hero__link
	&__link {
		@include adaptiveValue("font-size", 24, 18);
		@include adaptiveValue("min-width", 250, 150);
		@media (min-width: toEm($mobile)){
			padding: toRem(16) toRem(15);
		}
		@media (max-width: toEm(400)){
			align-self: stretch;
		}
	}
}
// ! -----------------------------------------------------------------------
.stock {
	// .stock__container
	&__container {
		display: grid;
		gap: toRem(30);
		@include adaptiveValue("gap", 30, 15, 0, $containerWidth, 640);
		@media (min-width: toEm(640)){
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
.item-stock {
	max-width: toRem(605);
	font-family: $secondFontFamily;
	color: $whiteColor;
	position: relative;
	@include adaptiveValue("padding-top", 55, 20);
	@include adaptiveValue("padding-bottom", 55, 20);
	@include adaptiveValue("padding-left", 30, 20);
	@include adaptiveValue("padding-right", 30, 20);
	@include adaptiveValue("min-height", 355, 200);
	border-radius: toRem(12);
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
	// .item-stock__body
	&__body {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		max-width: toRem(300);
		row-gap: toRem(20);
	}
	// .item-stock__content
	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 15, 10);
	}
	// .item-stock__title
	&__title {
		order: 2;
		@include adaptiveValue("font-size", 34, 24);
		font-weight: 800;
		line-height: 1.2;
		text-transform: capitalize;
	}
	// .item-stock__label
	&__label {
		order: 1;
		font-size: toRem(18);
		font-weight: 800;
		text-transform: capitalize;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 15, 5);
		}
	}
	// .item-stock__discount
	&__discount {
		order: 3;
		font-weight: 500;
		text-transform: uppercase;
	}
	&__label,
	&__discount {
		line-height: 1.2;
		letter-spacing: toRem(0.25);
	}
	// .item-stock__link
	&__link {
		font-size: toRem(20);
		font-weight: 800;
		line-height: 1.2;
		text-transform: capitalize;
		@include underline($whiteColor);
		transition: text-decoration-color .2s;
		@media (any-hover: hover){
			&:hover{
				text-decoration-color: transparent;
			}
		}
	}
}
// ! -----------------------------------------------------------------------
.new-arrival {
	//.new-arrival__cnt-swiper
	&__cnt-swiper{
		@include adaptiveValue("padding-left", 35, 20, 2, $containerWidth, $mobileSmall);
		@include adaptiveValue("padding-right", 35, 20, 2, $containerWidth, $mobileSmall);
		position: relative;
	}
	// .new-arrival__swiper
	&__swiper{
		@media (max-width:toEm($mobileSmall)){
			margin-right: toRem(-15);
		}
	}
	// .new-arrival__swiper-button-prev
	&__swiper-button-prev,
	&__swiper-button-next {
		display: none;
		@media (min-width:toEm($mobileSmall)){
			display: block;
			position: absolute;
			cursor: pointer;
			top: 50%;
			transform: translateY(-100%);
			z-index: 10;
			&::before{
				transition: all 0.2s;
			}
		}
		@media (any-hover: hover){
			&:hover{
				&::before{
					color: $grayColor;
				}
			}
		}
	}
	&__swiper-button-prev {
		@media (min-width:toEm($mobileSmall)){
			left: 0;
		}
	}
	// .new-arrival__swiper-button-next
	&__swiper-button-next {
		@media (min-width:toEm($mobileSmall)){
			right: 0;
		}
	}
}
.product-new-arrival {
	// .product-new-arrival__link
	&__link{
		display: grid;
		@include adaptiveValue("row-gap", 33, 20);
		img{
			border-radius: toRem(12);
			overflow: hidden;
			aspect-ratio: 1/1;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform .2s;
			@media (any-hover: hover){
				&:hover{
					transform: scale(.97);
				}
			}
		}
	}
	// .product-new-arrival__title
	&__title {
		color: $grayColor;
		font-size: toRem(20);
		font-weight: 700;
		line-height: 1.2;
		text-transform: capitalize;
		@include underline(transparent, toRem(2));
		transition: text-decoration-color .2s;
		@media (any-hover: hover){
			&:hover{
				text-decoration-color: $grayColor;
			}
		}
	}
}
// ! -----------------------------------------------------------------------
.sale {
	// .sale__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(20);
		@include adaptiveValue("gap", 20, 10);
	}
	// .sale__item
	&__item {
		@include adaptiveValue("min-height", 393, 280);
		flex: 1 0 toRem(280);
		@media (min-width: toEm(1000)){
			flex-basis: toRem(300);
			max-width: 50%;
		}
	}
}
.item-sale {
	color: $grayColor;
	position: relative;
	display: flex;
	border-radius: toRem(12);
	overflow: hidden;
	&--white{
		color: $whiteColor;
	}
	&--right{
		justify-content: flex-end;
	}
	&--text-right{
		text-align: right;
	}
	// .item-sale__img
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top
	}
	// .item-sale__body
	&__body {
		@include adaptiveValue("padding-top", 35, 15);
		@include adaptiveValue("padding-bottom", 35, 15);
		@include adaptiveValue("padding-left", 25, 15);
		@include adaptiveValue("padding-right", 25, 15);
		max-width: toRem(170);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		@include adaptiveValue("row-gap", 27, 20); 
		position: relative;
		z-index: 2;
		.item-sale--text-right &{
			align-items: flex-end;
		}
		@media (min-width:toEm($mobileSmall)){
			max-width: toRem(214);
		}
	}
	// .item-sale__limited
	&__limited {
		font-size: toRem(12);
		font-weight: 700;
		line-height: 1.16;
		color: $whiteColor;
		background-color: $grayColor;
		padding: toRem(10) toRem(10) toRem(9);
		text-align: center;
		min-width: toRem(104);
		border-radius: toRem(4);
		text-transform: capitalize;
	}
	// .item-sale__content
	&__content {
		display: grid;
		row-gap: toRem(10);
	}
	// .item-sale__title
	&__title {
		font-family: $secondFontFamily;
		@include adaptiveValue("font-size", 28, 22);
		font-weight: 600;
		line-height: 1.2;
		text-transform: capitalize
	}
	// .item-sale__link-title
	&__link-title {
		@include underline;
		transition: text-decoration-color .2s;
		@media (any-hover: hover){
			.item-sale__title:hover &{
				text-decoration-color: inherit;
			}
		}
	}
	// .item-sale__text
	&__text {
		font-size: toRem(15);
		font-weight: 600;
		line-height: 1.2;
	}
	// .item-sale__info
	&__info {
		font-size: toRem(18);
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
	}
	// .item-sale__arrow
	&__arrow {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 40, 20);
		align-items: center;
		&::before{
			font-size: toRem(23.6);
			@media (any-hover: hover) {
				.item-sale:hover &{
					animation: arrow-move .7s ease-in infinite alternate;
				}
			}
		}
	}
	// .item-sale__button
	&__button {
		min-width: toRem(120);
		font-size: toRem(12);
		font-weight: 500;
		line-height: 1.16;
		border-radius: toRem(4);
		padding: toRem(10) toRem(10) toRem(9);
		text-align: center;
		text-transform: uppercase;
		transition: background-color .2s;
		border: toRem(1) solid $grayColor;
		.item-sale--white &{
			border: toRem(1) solid $whiteColor;
		}
		@media (any-hover: hover){
			&:hover{
				background-color: rgba(61, 66, 66, 0.2);
			}
		}
	}
}
@keyframes arrow-move {
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(15px);
	}
}
// ! -----------------------------------------------------------------------
.go-shop {
	// .go-shop__box
	&__box{
		margin: 0 toRem(-15);
		@media (min-width:toEm($mobile)){
			margin: 0;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			border-radius: toRem(10);
			overflow: hidden;
		}
	}
	// .go-shop__content
	&__content {
		color: $whiteColor;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		@include adaptiveValue("padding-top", 74, 25);
		@include adaptiveValue("padding-bottom", 74, 30);
		@include adaptiveValue("padding-left", 74, 15);
		@include adaptiveValue("padding-right", 74, 15);
		background: url("../img/go-shop/tropical-bg.webp") center / cover no-repeat ;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.7;
		}
		> * {
			position: relative;
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 30, 15);
			}
		}
		@media (max-width:toEm($mobile)){
			text-align: center;
			align-items: center;
		}
	}

	// .go-shop__title
	&__title {
		font-family: $secondFontFamily;
		@include adaptiveValue("font-size", 34, 24);
		font-weight: 800;
		line-height: 1.4;
	}
	// .go-shop__text
	&__text {
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: toRem(1);
		p{
			&:not(:last-child) {
				margin-bottom: toRem(8);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}
	// .go-shop__link
	&__link {
		width: 100%;
		@media (min-width:toEm($mobileSmall)){
			min-width: toRem(168);
			width: auto;
		}
	}
	// .go-shop__img
	&__img {
		display: none;
		@media (min-width:toEm($mobile)){
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
			aspect-ratio: 626/639;		
		}
	}
}
// ! -----------------------------------------------------------------------
.top-brands {
	// .top-brands__box
	&__box {
		color: $whiteColor;
		background-color: $grayColor;
		text-align: center;
		border-radius: toRem(12);
		padding: toRem(0) toRem(15);
		@include adaptiveValue("padding-top", 44, 25);
		@include adaptiveValue("padding-bottom", 60, 35);
		>*{
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 25, 12);
			}
		}
		@media (max-width:toEm($mobile)){
			margin: toRem(0) toRem(-15);
			border-radius: 0;
		}
	}
	// .top-brands__title
	&__title {
		font-family: $secondFontFamily;
		@include adaptiveValue("font-size", 50, 30);
		font-weight: 800;
		line-height: 1.2;
		text-transform: capitalize;
	}
	// .top-brands__text
	&__text {
		@include adaptiveValue("font-size", 22, 18);
		line-height: 1.2;
		span{
			color: $yellowColor;
			font-weight: 700;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 67, 20);
		}
	}
	// .top-brands__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include adaptiveValue("column-gap", 25, 10);
		row-gap: toRem(10);
		li{
			flex-shrink: 0;
			flex-grow: 0;
			@include adaptiveValue("flex-basis", 177, 140);
			@include adaptiveValue("height", 85, 60);
			
		}
	}
	// .top-brands__link
	&__link {
		border-radius: toRem(12);
			overflow: hidden;
		height: 100%;
		display: grid;
		place-items: center;
		background-color: $whiteColor;
		transform: scale(1);
		transition: transform .2s;
		img{
			aspect-ratio: 177/85;
			height: 75%;
			width: 80%;
			object-fit: contain;
		}
		@media (any-hover: hover){
			&:hover{
				transform: scale(1.08);
			}
		}
	}
}
// ! -----------------------------------------------------------------------
.reviews,
.reviews-element {
	// .reviews__slider
	&__slider {
		@media (max-width:toEm($mobileSmall)){
			margin-right: toRem(-15);
		}
	}
	// .reviews__wrapper
	&__wrapper {
		&:not(:last-child) {
			margin-bottom: toRem(21);
		}
	}
	// .reviews__swiper-pagination
	&__swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: toRem(4);
		.swiper-pagination-bullet{
			background-color: $paleGrayColor;
			flex: 0 0 toRem(8);
			height: toRem(8);
			margin: 0;
			transition: all 0.2s;
		}
		.swiper-pagination-bullet-active{
			background-color: $grayColor;
		}
	}
}
.slide-reviews {
	height: auto;
	border: toRem(1.8) solid $paleGrayColor;
	border-radius: toRem(10);
	background-color: $whiteColor;
	@include adaptiveValue("padding", 23, 15);
	display: grid;
	align-content: start;
	@include adaptiveValue("row-gap", 20, 12);
	// .slide-reviews__head
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: toRem(20);
	}
	// .slide-reviews__photo-user
	&__photo-user {
		// здесь изображение нужно либо обернуть в новый div, либо дублировать ширину width: toRem(58); (флекс изображение не фиксирует)
		aspect-ratio: 1/1;
		flex: 0 0 toRem(58);
		width: toRem(58);
		object-fit: cover;
	}
	// .slide-reviews__rating
	&__rating {}
	// .slide-reviews__name-user
	&__name-user {
		color: $grayColor;
		font-family: $secondFontFamily;
		font-size: toRem(22);
		font-weight: 500;
		line-height: 1.15;
		letter-spacing: toRem(0.5);
	}
	// .slide-reviews__text
	&__text {
		font-size: toRem(14);
		line-height: 1.2;
		p{
			&:not(:last-child) {
				margin-bottom: toRem(4);
			}
		}
	}
}
// reviews__swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal
