.product-item {
	// .product-item__container
	&__container {
		@media (min-width:toEm($tablet)){
			display: flex;
			align-items: flex-start;
		}
	}
	// .product-item__images
	&__images {
		min-width: 0; // !!!!!! без (min-width: 0;) - все ломается
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 34, 10);
		position: relative;
		&::before{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 100vw;
			height: 100%;
			background-color: $lightColor;
		}
		@media (max-width:toEm($tablet)){
			margin: toRem(0) toRem(-15);
			padding-left: toRem(15);
		}
		@media (min-width:toEm($tablet)){
			flex: 0 1 50%; 
		}
	}
	// .product-item__slider
	&__slider {
		flex: 1 1 auto;
		width: 100%;
	}
	// .product-item__wrapper
	&__wrapper {}
	// .product-item__slide
	&__slide {
		aspect-ratio: 520/785;
		img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	// .product-item__thumb-slider
	&__thumb-slider {
		flex: 0 0 toRem(75);
		padding-top: toRem(15);
		padding-bottom: toRem(15);
		@media (max-width:toEm($mobileSmall)){
			flex-basis: toRem(60);
		}
	}
	// .product-item__body
	&__body {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 35, 18);
		@include adaptiveValue("padding-left", 74, 30, 2, $containerWidth, $tablet);
		padding-top: toRem(30);
		@media (min-width:toEm($tablet)){
			flex-grow: 1;
		}
		@media (max-width:toEm($tablet)){
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			column-gap: toRem(70);
			>*{
				flex: 1 1 toRem(290);
			}
		}

	}
	// .product-item__breadcrumb
	&__breadcrumb {
		flex: 1 1 100%;
	}
	// .product-item__title
	&__title {
	}
	// .product-item__feedback
	&__feedback {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: toRem(30);
		row-gap: toRem(10);
	}
	// .product-item__rating
	&__rating {}
	// .product-item__comment-link
	&__comment-link {
		display: flex;
		align-items: center;
		column-gap: toRem(15);
		font-size: toRem(18);
		line-height: 1.2;
		font-weight: 500;
		&::before{
			font-size: toRem(20);
		}
		transition: color .2s;
		@media (any-hover: hover){
			&:hover{
				color: $violetColor;
			}
		}
	}
	// .product-item__size
	&__size {}
	// .product-item__color
	&__color {}
	// .product-item__footer
	&__footer {
		flex: 1 1 100%;
		display: flex;
		column-gap: toRem(25);
		row-gap: toRem(10);
		@media (max-width:toEm(399.98)){
			flex-wrap: wrap;
		}
	}
	// .product-item__button
	&__button {
		flex-basis: 100%;
		@media (min-width:toEm(399.98)){
			min-width: toRem(199);
			flex-basis: auto;
		}
	}
	// .product-item__price
	&__price {
		flex-basis: toRem(138);
		border-radius: toRem(8);
		border: toRem(1) solid $grayColor;
		color: $grayColor;
		font-weight: 700;
		font-size: toRem(18);
		line-height: 1.22;
		padding: toRem(12) toRem(15) toRem(11);
		display: grid;
		place-items: center;
		@media (max-width:toEm(399.98)){
			flex-basis: 100%;
		}
	}
	// .product-item__order-info
	&__order-info {
		flex: 1 1 100%;
	}
}

.thumb-slider{
	display: grid;
	row-gap: toRem(20);
	justify-items: center;
	// .thumb-slider__slider
	&__slider {
		height: toRem(259); // !!!!!!! ВСЕ ИСПРАВИЛО (и от нее зависит высота мини-слайдов), но если будет 2(или 1) изображение, высота все равно будет фиксированной
		@media (max-width:toEm($mobileSmall)){
			height: toRem(213);
		}
	}
	// .thumb-slider__wrapper
	&__wrapper {}
	// .thumb-slider__slide
	&__slide.swiper-slide {
		cursor: pointer;
		padding: toRem(4.5);
		transition: border-color .3s;
		border-radius: toRem(12);
		border: toRem(0.76) solid transparent;
		&.swiper-slide-thumb-active{
			border-color: $grayColor;
		}
		img{
			aspect-ratio: 1/1;
			border-radius: toRem(9);
			width: 100%;
			object-fit: cover;
		}
	}
	// .thumb-slider__arrows
	&__arrows {
		position: relative;
		display: grid;
		justify-content: center;
		row-gap: toRem(12);
	}
	// .thumb-slider__arrow
	&__arrow {
		box-shadow: toRem(0.76) toRem(0.76) toRem(3.02) 0 rgba(0, 0, 0, 0.3);
		background-color: $whiteColor;
		color: $grayColor;
		border-radius: 50%;
		width: toRem(21.2);
		height: toRem(21.2);
		transition: all 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: toRem(6);
		@media (any-hover: hover){
			&:hover{
				color: $whiteColor;
				background-color: $grayColor;
			}
		}	
		&:focus-visible{
			color: $whiteColor;
			background-color: $grayColor;
			outline: none;
		}
		// .thumb-slider__arrow--up
		&--up {}
		// .thumb-slider__arrow--down
		&--down {}
	}
}
.size-product {
	// .size-product__header
	&__header {
		display: flex;
		column-gap: toRem(20);
		row-gap: toRem(8);
		flex-wrap: wrap;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 10);
		}
	}
	// .size-product__title
	&__title {
		font-size: toRem(18);
		font-weight: 600;
		line-height: 1.22;
		color: $grayColor;
	}
	// .size-product__guide-link
	&__guide-link {
		@extend .product-item__comment-link;
		flex-direction: row-reverse;
		&::before{
			font-size: toRem(13.6);
		}
	}
	// .size-product__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 20, 10);
		row-gap: toRem(10);
	}
	// .size-product__item
	&__item {
		flex: 0 0 toRem(38);
		aspect-ratio: 1/1;
		font-size: toRem(14);
		line-height: 1.21; 
		font-weight: 500;
		span{
			cursor: pointer;
			color: $mainColor;
			height: 100%;
			display: grid;
			place-items: center;
			text-transform: uppercase;
			border: toRem(1.5) solid $paleGrayColor;
			border-radius: toRem(12);
			transition: all 0.3s;
		}
		@media (any-hover: hover){
			&:hover{
				span{
					color: $whiteColor;
					background-color: $grayColor;
					border-color: $grayColor;
					
				}
				input:disabled ~ span{
					border-color: $paleGrayColor;
				}
			}
		}
		
	}
	// .size-product__input
	&__input{
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked ~ span{
			color: $whiteColor;
			background-color: $grayColor;
			border-color: $grayColor;
		}
		&:focus-visible ~ span{
			color: $grayColor;
			background-color: $lightColor;
			outline: 2px solid $grayColor
		}
		&:disabled ~ span{
			color: $paleGrayColor;
			background-color: $lightColor;
			pointer-events: none;
			cursor: default;
		}
	}
}
.color-product {
	// .color-product__title
	&__title {
		@extend .size-product__title;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 10);
		}
	}
	// .color-product__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(15);
		row-gap: toRem(5);
	}
	// .color-product__item
	&__item {
		flex: 0 0 toRem(22);
		height: toRem(22);
		background-color: var(--color);
		border-radius: 50%;
		position: relative;
		span{
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			border: toRem(1) solid var(--color);
			transform: scale(0.9);
			transition: all .2s;
		}

	}
	// .color-product__input
	&__input{
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
		z-index: 2;
		&:checked ~ span{
			transform: scale(1.3);
		}
	}
}
.order-info {
	border-top: toRem(1) solid $paleGrayColor;
	@include adaptiveValue("padding-top", 40, 15);
	display: grid;
	gap: toRem(10);
	@media (min-width:toEm($mobileSmall)){
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(20);
	}
	// .order-info__item
	&__item {
		color: $grayColor;
		font-weight: 500;
		line-height: 1.22;
		display: flex;
		align-items: center;
		column-gap: toRem(15);
		&::before{
			flex: 0 0 toRem(44);
			aspect-ratio: 1/1;
			border-radius: 50%;
			background-color: $lightColor;
			display: grid;
			place-items: center;
			@media (max-width:toEm($mobileSmall)){
				flex-basis: toRem(35);
			}
		}
	}
}
// !=========================================
.description-product {
	// .description-product__container
	&__container {}
	// .description-product__title
	&__title {}
	// .description-product__body
	&__body {
		display: flex;
		flex-direction: column;
		@media (min-width:toEm($tablet)){
			flex-direction: row;
			align-items: flex-start;
		}
	}
	// .description-product__tabs
	&__tabs {
		@media (min-width:toEm($tablet)){
			flex: 0 0 50%;
		}
		@include adaptiveValue("margin-bottom", 40, 25, 1, $tablet, $minWidth);
	}
	// .description-product__video
	&__video {
		@media (min-width:toEm($tablet)){
			flex: 0 0 50%;
		}
		@include adaptiveValue("padding-left", 74, 30, 2, $containerWidth, $tablet);
		aspect-ratio: 532/328;
		iframe{
			border-radius: toRem(12);
			width: 100%;
			height: 100%;
		}
	}
}
.tabs-description {
	min-width: 0;    //!Исправило неконтрольруемую ширину слайдера
	
	// .tabs-description__navigation
	&__navigation {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		column-gap: toRem(30);
		row-gap: toRem(15);
	}
	// .tabs-description__item
	&__item {
		font-size: toRem(18);
		line-height: 1.22;
		letter-spacing: toRem(0.5);
		@include adaptiveValue("padding-bottom", 18, 3);
		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: toRem(1);
			background-color: $grayColor;
			transition: all .2s;
		}
		&._tab-active{
			color: $grayColor;
			font-weight: 500;
			&::after{
				width: 50%;
			}
		}
	}
	// .tabs-description__button
	&__button {
		display: flex;
		align-items: flex-start;
		column-gap: toRem(15);
		span{
			min-width: toRem(20);
			text-align: center;
			font-size: toRem(10);
			line-height: 1.2;
			font-weight: 500;
			padding: toRem(4) toRem(5) toRem(4) toRem(4);
			border-radius: toRem(4);
			color: $whiteColor;
		}
	}

	// .tabs-description__numb-comments
	&__numb-comments {
		background-color: $violetColor;
	}
	// .tabs-description__numb-question
	&__numb-question {
		background-color: $grayColor;
	}
	// .tabs-description__body
	&__body {
		@include adaptiveValue("padding-top", 30, 20);

	}
	// .tabs-description__element
	&__element {}
}
.description-element {
	// .description-element__text
	&__text {
		line-height: 1.56;
		letter-spacing: toRem(0.5);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 37, 20);
		}
		p{
			&:not(:last-child) {
				margin-bottom: toRem(8);
			}
		}
	}
	// .description-element__table
	&__table {
		position: relative;
		border-radius: toRem(12);
		background-color: rgba(246, 246, 246, 0.6);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@media (max-width:toEm($mobile)){
			grid-template-columns: repeat(auto-fit, minmax(toRem(190), 1fr));
		}
		@media (max-width:toEm($mobileSmall)){
			margin: toRem(0) toRem(-15);
			border-radius: 0;
		}
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
		&::before, 
		&::after{
			content: '';
			position: absolute;
			background-color: $whiteColor;
		}
		&::before{
			right: 0;
			top: 0;
			height: 100%;
			width: toRem(1);
		}
		&::after{
			left: 0;
			bottom: 0;
			height: toRem(1);
			width: 100%;
		}
	}
	// .description-element__item
	&__item {
		line-height: 1.2;
		@include adaptiveValue("padding-top", 24, 10);
		@include adaptiveValue("padding-bottom", 24, 10);
		@include adaptiveValue("padding-left", 48, 15);
		@include adaptiveValue("padding-right", 48, 15);
		border-right: toRem(1) solid rgba(190, 188, 189, 0.4);
		border-bottom: toRem(1) solid rgba(190, 188, 189, 0.4);
	}
	// .description-element__label
	&__label {
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}
	// .description-element__value
	&__value {
		color: $grayColor;
		font-weight: 500;
	}
}
