@use "sass:math";

$minWidth: 320; // Мінімальна ширина сторінки
$maxWidth: 1440; // Ширина полотна (макету)
$maxWidthContainer: 1240; // Ширина обмежуючого контейнера (0 = немає обмеження)
$containerPadding: 30; // Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина спрацьовування першого брейкпоінту
$pc: 1023.98;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;

// font-family
$fontFamily: "Causten", sans-serif;
$secondFontFamily: "Core Sans C", sans-serif;

// colors
$mainColor: #807D7E;
$grayFilterColor: #8a8989;
$grayColor: #3C4242;
$darkGrayColor: #2A2F2F;
$codGrayColor: #191919;
$whiteColor: #fff;
$lightColor: #F6F6F6;
$violetColor: #8A33FD;
$yellowColor: #FBD103;
$paleGrayColor: #bebbbd;
$grayHoverColor: #e0e0e0;
$violetHoverColor: #6620c1;

// Шаблони-----------------------------------------------
%delete-style-for-checkbox{
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}
// Функції-----------------------------------------------
@import "_functions.scss";
// Міксіни-----------------------------------------------
@import "_mixins.scss";
// Шрифти------------------------------------------------
@import "_fonts.scss";
// Iконки------------------------------------------------
@import "_icons.scss";
// Обнулення---------------------------------------------
@import "_reset.scss";
// Компоненти--------------------------------------------
@import "_common.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_nouislider.scss";
// Сторінки--------------------------------------------
@import "_home.scss";
@import "_catalog.scss";
@import "_filter.scss";
@import "_product.scss";
@import "_cart.scss";
@import "_check-out.scss";
@import "_account.scss";
@import "_auth.scss";

// * Основні стилі---------------------------------------

body{
	font-family: $fontFamily;
	color: $mainColor;
	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

.wrapper{
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> main{
		flex-grow: 1;
	}
	@media (max-width: toEm($mobileSmall)){
		padding-bottom: toRem(55);
		&--authentication{
			padding-bottom: 0;
		}
	}
}

[class*="__container"]{
	max-width: toRem($containerWidth);
	margin: 0 auto;
	padding-left: toRem(math.div($containerPadding, 2));
	padding-right: toRem(math.div($containerPadding, 2));
}

.page{
	>*{
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 100, 45);
		}
	}
	&>:last-child{
		@include adaptiveValue("padding-bottom", 100, 45);
	}
	// .page__hero
	&__hero {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 130, 50);
		}
		&:last-child{
			padding-bottom: toRem(0);
		}
	}
	// .page__stock
	// &__stock {}
	// .page__new-arrival
	// &__new-arrival {}
	// .page__sale
	// &__sale {}
	// .page__go-shop
	// &__go-shop {}
	// .page__products
	// &__products {}
	// .page__top-brands
	// &__top-brands {}
	// .page__reviews
	// &__reviews {}

	
	// .page__error
	// &__error{}


	// .page__order-confirmed
	// &__order-confirmed {}


	// .page__catalog
	// &__catalog {}
	// .page__description
	// &__description {}
	// .page__best-prices
	// &__best-prices {}


	// .page__product-item
	// &__product-item {}
	// .page__description-product
	// &__description-product {}
}

.error {
	@include adaptiveValue("padding-top", 82, 40, 0, $containerWidth, $mobileSmall);
	background-color: $lightColor;
	// .error__container
	&__container {
		text-align: center;
		max-width: toRem(530);
		>*{
			&:not(:last-child) {
				margin-bottom: toRem(13);
			}
		}
	}
	// .error__image
	&__image {
		aspect-ratio: 396/273;
		width: 100%;
		max-width: toRem(396);
		object-fit: contain;
	}
	// .error__info
	&__info {
		line-height: 1.2;
		font-weight: 500;
		letter-spacing: toRem(0.3);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 42, 20);
		}
		p{
			&:not(:last-child) {
				margin-bottom: toRem(5);
			}
		}
	}
	//.error__link
	&__link{
		min-width: toRem(246);
	}
}

.order-confirmed {
	@include adaptiveValue("padding-top", 127, 40, 0, $containerWidth, $mobileSmall);
	// .order-confirmed__container
	&__container {
		@media (min-width:toEm($mobile)){
			display: flex;
			column-gap: toRem(30);
			justify-content: center;
		}
	}
	// .order-confirmed__image
	&__image {
		display: none;
		@media (min-width:toEm($mobile)){
			display: block;
			flex-basis: toRem(312);
			aspect-ratio: 312/463;
			// padding-top: toRem(60);
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		
	}
	// .order-confirmed__content
	&__content {
		flex-basis: toRem(373);
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiveValue("row-gap", 30, 20);
		text-align: center;
		position: relative;
		@media (min-width:toEm($mobile)){
			padding: toRem(20) toRem(26);
			@include adaptiveValue("padding-bottom", 50, 40);
			border: toRem(3) solid $grayColor;
			border-radius: toRem(10);

			&::before,
			&::after {
				content: '';
				position: absolute; 
			}
			// Заливка фона
			&::before {
				top: toRem(60);
				left: 0;
				width: toRem(20);
				height: toRem(60);
				border-left: toRem(3) solid $grayColor;
				transform: rotate(34deg) translate(toRem(-21), toRem(7));
				background-color: $whiteColor;
				z-index: 1;	
			}
			// Стрелка (граница)
			&::after {
				top: toRem(95);
				right: 100%;
				width: toRem(38);
				height: toRem(3);
				background-color: $grayColor;
				transform: rotate(-25deg) ;
				z-index: 2;
			}
		}
		
	}
	// .order-confirmed__cross
	&__cross {
		display: none;
		@media (min-width:toEm($mobile)){
			display: block;
			align-self: flex-end;
			position: relative;
			width: toRem(18);
			aspect-ratio: 1/1;
			&::before,
			&::after{
				position: absolute;
				top: 50%;
				left: 0;
				content: '';
				height: toRem(3);
				width: 100%;
				background-color: #D1D3D4;
				border-radius: toRem(2);
			}
			&::before{
				transform:rotate(45deg);
			}
			&::after{
				transform:rotate(-45deg);
			}
		}		
		
	}
	//.order-confirmed__check
	&__check{
		position: relative;
		@include adaptiveValue("width", 200, 100, 0, $tablet, $minWidth);
		aspect-ratio: 200/125;
		margin-top: toRem(3);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 10);
		}
	}
	&__image-check{
		margin: 0 auto;
		width: 65.5%;
		aspect-ratio: 1/1;
		border: toRem(2.5) solid #D1D3D4;
		border-radius: 50%;
		display: grid;
		place-items: center;
		img{
			width: 70.4%;
			aspect-ratio: 88/66;
			object-fit: contain;
		}
	}
	&__top-line,
	&__center-line,
	&__bottom-line {
		&::before,
		&::after{
			content: '';
			background-color: #D1D3D4;
			border-radius: toRem(3);
			position: absolute;
		}
	}
	&__top-line,
	&__bottom-line{
		&::before,
		&::after{
			width: 15%;
			height: toRem(2.5);
		}
	}
	&__center-line{
		&::before,
		&::after{
			width: 13%;
			height: toRem(3);
		}
	}
	&__top-line,
	&__center-line,
	&__bottom-line {
		&::before{
			left: 0;
			
		}
	}
	&__top-line,
	&__center-line,
	&__bottom-line {
		&::after{
			right: 0;
		}
	}
	// .order-confirmed__top-line
	&__top-line {
		&::before,
		&::after{
			top: 0;
		}
		&::before{
			transform: rotate(30deg);
		}
		&::after{
			transform: rotate(-30deg);
		}
	}
	// .order-confirmed__center-line
	&__center-line {
		&::before,
		&::after{
			top: 50%;
		}
	}
	// .order-confirmed__bottom-line
	&__bottom-line {
		&::before,
		&::after{
			bottom: 0;
		}
		&::after{
			transform: rotate(30deg);
		}
		&::before{
			transform: rotate(-30deg);
		}
	}

	// .order-confirmed__title
	&__title {
		@include adaptiveValue("font-size", 30, 20);
	}
	// .order-confirmed__link
	&__link {}
}