[class*="_icon-"]::before{
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-arrow-right:before {
  content: "\e900";
}
._icon-chat:before {
  content: "\e901";
}
._icon-fingerprint:before {
  content: "\e902";
}
._icon-home-filled:before {
  content: "\e903";
}
._icon-icon-list:before {
  content: "\e904";
}
._icon-letter:before {
  content: "\e905";
}
._icon-list-education:before {
  content: "\e906";
}
._icon-list-finance:before {
  content: "\e907";
}
._icon-list-health:before {
  content: "\e908";
}
._icon-list-law:before {
  content: "\e909";
}
._icon-list-technology:before {
  content: "\e90a";
}
._icon-s-facebook:before {
  content: "\e90c";
}
._icon-s-insta:before {
  content: "\e90d";
}
._icon-s-linkedin:before {
  content: "\e90e";
}
._icon-s-youtube:before {
  content: "\e90f";
}
._icon-tent:before {
  content: "\e910";
}
