.select{
	position: relative;
	border-radius: toRem(8);
	transition: border-radius 0.2s;
	&._active {
		border-radius: toRem(8) toRem(8) 0 0;
		z-index: 5;
		.select__title{
			border-radius: toRem(8) toRem(8) 0 0;
		}
	}
	// .select__item
	&__item{
		position: relative;
	}
	//.select__title
	&__title{
		color: #000;
		border: 1px solid $lightBlueColor;
		background-color: #fff;
		cursor: pointer;
		border-radius: toRem(8);
		transition: border-radius 0.2s;
	}
	//.select__value
	&__value{
		display: flex;
		height: toRem(52);
		padding: toRem(0) toRem(20);
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		
		@media (min-width:toEm($mobile)){
			height: toRem(60);
		}
		& .select-placeholder{
			font-size: toRem(10);
			font-weight: 500;
			color: $blueGrayColor;
		}
		& .select-chosen{
			font-size: toRem(12);
			color: $titleColor;
		}
		span{
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&::before {
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 11px;
			height: 7px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $cometColor;
			.select._active &{
				transform: rotateX(-180deg);
			}
		}
	}
	//.select__options
	&__options{
		color: #000;
		display: none;
		position: absolute;
		top: 49px;
		border-radius: 0 0 toRem(8) toRem(8);
		min-width: 100%;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		border: 1px solid $lightBlueColor;
		border-top: none;
		font-size: 16px;
		&.select._active {
			display: block;
		}
	}
	// .select__option
	&__option{
		cursor: pointer;
		padding: 10px 20px;
		margin: 0px 0px 0px 0px;
		font-size: toRem(10);
		font-weight: 500;
		color: $blueGrayColor;
		transition: background-color 0.2s;
		@media (any-hover: hover){
			&:hover{
				background-color: #f2f4ff;
			}
		}
	}
}
